*{

    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

}


body{

    width: 100%;
    height: 100vh;
    padding: 5% 10%;
    background-color: rgb(22, 22, 22);
    
}

main{

    position: relative;
    top: 30%;
    justify-content: space-between;

}

main,.information_words,.form_login form{

    display: flex;
    align-items: center;
 

}

.information_words{



}

.information_words,.form_login form{
    flex-direction: column;

}

.information_words p{

   display: flex;
   flex-direction: column;
   justify-content: center;

}

.information_words p span{

   

}

.information_words p .info1{

    font-size: 30px;
    color: rgba(52, 52, 252, 0.808);

}

.information_words p .info2{

    font-size: 80px;
    color: whitesmoke;

}

.create_element{

    display: flex;
    flex-direction: column;

}

.create_element span{

    font-size: 80px;
    color: rgba(52, 52, 252, 0.808);

}

.form_login form{

     align-items: flex-start;
}

